/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .foot{
        display: flex;
        justify-content: center;
        align-items: center;
      /* padding: 70px 120px; */
      background: linear-gradient(to bottom, #000055, #0000ae); /* Gradient definition */
      margin-top: 100px;
  }
  .footerouter{
    width: 1330px;

  }
  .footwidth{
    padding: 70px 120px;
  }
.footerhead{
    font-size: 96px;
    line-height: 120px;
    letter-spacing: -5px;
    font-weight: 500;
    color:rgb(255, 255, 255)
}
.foothead2{
    margin-top: 27px;
    color: white;
    font-size: 16px;
    font-weight: 200;
}
.footcontent{ 
    margin-top:70px ;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 170px;
}
.footcontentcontent{ 
    display: flex;
    flex-direction: row;
    gap: 170px;
}
.singlesocial{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.footerp{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.contactupper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.singlecontact{
    display: flex;
    flex-direction: column;

}
.contactpupper{
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.contactpdown{
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.393);
}
.contacts{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
@media (max-width: 1200px) {
   .footcontent{ 
    gap: 100px;
}
.footcontentcontent{ 
    gap: 100px;
}

}
@media (max-width: 1070px) {
    .footouter{
        margin: 0px;
    }
     .footwidth{
        padding: 70px;
     }
 .footerhead{
    font-size: 64px;
    line-height: 88px;
    letter-spacing: -2.5px;
}
 .contacts{
     margin-left: 0px;
     
 } 
 }
 @media (max-width: 900px) {
    .footcontent{ 
     gap: 70px;
 }
 .footcontentcontent{ 
    gap: 70px;
}
.footimg{
    width: 250px;
}

 
 }
 @media (max-width: 770px) {

    /* .footerhead{
        font-size: 45px;
        line-height: 69px;
        letter-spacing: -2.5px;
    } */
    /* .footcontent{ 
        flex-direction: column;
        align-items:start;
        justify-items: start;
    } */
    .foot{
        padding: 50px 30px;
    }
    .footimg{
        width: 200px;
    }
    

}
@media (max-width: 690px) {
    .footimg{
        width: 300px;

    }
    .foot{
        padding: 0px;
    }
    

    .footerhead{
        font-size: 55px;
        line-height: 69px;
        letter-spacing: -2.5px;
    }
    .footcontent{ 
        flex-direction: column;
        align-items:center;
        justify-items: flex-start;
        gap: 70px;

    }
    .footwidth{
        padding:30px;
    }



}
@media (max-width: 550px) {
    .footerhead{
        font-size: 50px;
        line-height: 64px;
        letter-spacing: -2.5px;
    }
    .footcontentcontent{
        flex-direction: column;
        margin-left: 0px;

    }
}
/* @media (max-width: 370px) {
    .footimg{
        width: 250px;
    }
} */
  