
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   .outerhero{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .homet3mobile{
    display: none;
  }
  .herosection{
    width: 1330px;
    padding: 50px 100px;
    max-width: 1330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
  }
  .main{
    gap: 200px;
  }
  
  .homet1 {
    padding: 0px 20px;
    color: #4F4FE6;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.12px;

    opacity: 0;


  }
  .homet2{
    padding: 0px 20px;

    background: linear-gradient(to right, #000046, #0000ff); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
        font-size: 96px;
        text-transform: uppercase;
        font-weight: 500;

    line-height: 100px;
    letter-spacing: -5px;


    opacity: 0;


  }

  .homet3{
    padding: 0px 20px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 300;
    color: #33336B;   
    
    
    opacity: 0;

  }
  .home2svg{
    margin-top: -50px;
    margin-left: 150px;
  }
  .homebtn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .homebtnbtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #000046, #0000ff); 
    position: relative;
    overflow: hidden;
    gap: 7px;
    font-size: 16px;
    font-weight: 300;
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    color: white;
    z-index: 2;
    transition: color 0.7s ease;
    font-family: inherit; 
    
  }
  
  .homebtnbtn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #0000d4, #000046);
    opacity: 0; 
    transition: opacity 0.7s ease;
    border-radius: inherit;
    z-index: -1; 
  }
  
  .homebtnbtn:hover::before {
    opacity: 1; 
  }
  
  .homebtnbtn:hover {
    cursor: pointer;

    color: #fff; 
  }
  @media (max-width: 1220px) {
    .homet2{
      font-size: 76px;

    }
    .home2svg{
      margin-left: 120px;
      width:400;
    }

  }
 
  @media (max-width: 1070px) {
    .homet2{
      font-size: 60px;
      line-height: 65px;
      letter-spacing: -3px;


    }
    .home2svg{
      margin-top: -40px;
      width: 330px;
      margin-left: 100;

    }
    .herosection{
      padding: 50px 50px;
     
    }

  }
  @media (max-width: 770px) {
    .herosection{
      margin-top: 20px;
      padding: 50px 10px;
      gap: 50px;
    }

    .homet1 {
      padding: 0px 20px;
      color: #4F4FE6;
      font-size: 10px;
      letter-spacing: 0px;
    }
    .homet2{
      font-size: 45px;
      line-height:50px;
      letter-spacing:-1.5px;
    }
    .home2svg{
      margin-left: 83px;
      margin-top: -40px;
      width: 250px;
    }


    .homet3 {
      display: none;
      margin-top: -20px;

    }
    
  .homet3mobile{
    display: flex;
    padding: 0px 70px 0px 20px;


    font-size: 18px;
    font-weight: 300;
    color: #33336B;
    line-height: auto;


    margin-top: -20px;
    line-height: 170%;



  }

  }
  
  @media (max-width: 520px) {
    .homet3 {
      display: none;
    }
    
  .homet3mobile{
    display: flex;
    padding: 0px 50px 0px 20px;

    margin-top: -20px;
  }

  }

 
