/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .model3d{
    margin-top: -70px;
    z-index: -1;

    margin-bottom: 100px;

  }
  .model3dmobile{
    /* display: none; */
  }
  @media (max-width: 850px) {
    .model3d{
      display: none;
    }
    .model3dmobile{
      display:flex;
      height: 460px;
      width: 100%;
      margin-top: -70px;
    }
     
  }