.rive2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rive{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rive-animation2{
    width: 1000px;
    height:800px;
}
.rive-animation{
    width: 0px;
    height:0px;
}

@media (max-width: 1230px) {
    .rive-animation2{
        width: 900px;
        height:700px;
    }

}
@media (max-width: 950px) {
    .rive-animation2{
        width: 700px;
        height:500px;
    }

}
@media (max-width: 750px) {
    .rive2{
        width: 0px;
        height:0px;
    }
    .rive-animation2{
        width: 0px;
        height:0px;
    }
    .rive{
        height:400px;
    }
    .rive-animation{
        width: 600px;
        height:1000px;
    }

}
